<div>
  <div>
    <h1>{{user.username}} profile</h1>
    <img src="#" alt="foto de perfil">
    
    <form action="/auth/profile" method="POST" id="form-container" enctype="multipart/form-data">
      <label for="username">Change username</label>
      <input id="username" type="text" name="username" placeholder="{{user.username}}">
    
      <br><br>
      <label for="email">Change email</label>
      <input id="email" type="text" name="email" placeholder="{{user.email}}">
      <br><br>
    
      <label for="password">Change password</label>
      <input id="password" type="password" name="password" placeholder="{{user.password}}">
      <br><br>
      <label for="photo">Change photo</label>
      <input id="photo" type="file" name="photo">
   
    
      <br><br>
    
      <button>Update</button>
    
  
      </p>
    </form>
    
  


  
  </div>
  
  
  
  
  
  <div>
      <h1>Próximos eventos</h1>
      <ul>
      {{#each events}}

        <li>{{events.name}}</li>

      {{/each}}
    </ul>
    <div>mapaaaaaaa</div>
    <div>amigossssssssssss</div>
    <a href="#">Crear fiesta</a>

    
  </div>
</div>