<div class="container">
  <div>
    <h2><span id="partyname">{{event.name}}</span></h2>
    <img class="img-dashboard" src="{{event.photo}}" alt="event photo">
  
  
    <p name="description">{{event.description}}</p>
    <div id="map"></div>
  
    
    <ul>
      <label for="pool">Pool: </label>
      <input id="pool" name="pool" type="checkbox" {{#if event.options.hasPool }} checked {{/if}} disabled>
  
      <label for="bbq">BBQ: </label>
      <input id="bbq" name="bbq" type="checkbox" {{#if event.options.hasBBQ }} checked {{/if}} disabled>
  
      <label for="children">Children: </label>
      <input id="children" name="children" type="checkbox" {{#if event.options.hasChildren }} checked {{/if}} disabled>
  
      <label for="private">Private: </label>
      <input id="private" name="private" type="checkbox" {{#if event.options.isPrivate }} checked {{/if}} disabled>
  
      <label for="roof">Roof: </label>
      <input id="roof" name="roof" type="checkbox" {{#if event.options.hasRoof }} checked {{/if}} disabled>
  
      <label for="parking">Parking: </label>
      <input id="parking" name="parking" type="checkbox" {{#if event.options.hasParking }} checked {{/if}} disabled>
  
      <li class="ocultar-lat-long">
        latitude:
        <span id="lat">{{event.location.coordinates.[0]}}</span>
      </li>
      <li class="ocultar-lat-long">
        longitude:
        <span id="long">{{event.location.coordinates.[1]}}</span>
      </li>
  
    </ul>
  
  </div>
  
  <div>
    <h4>Asistentes</h4>
    <ul>
      {{#each users}}
  
      <li class="listado-asistentes" >{{username}}</li>
  
      {{/each }}
  
    </ul>
  
  </div>
  <a class="btn btn-primary" href="/event/{{event._id}}/edit" role="button">Editar fiesta</a>
  
</div>