<div>
  <h1>Fiesta: <span id="partyname">{{event.name}}</span></h1>
  <img src="{{event.photo}}" alt="event photo">

  <h3>Description: {{event.description}}</h3>

  <div id="map"></div>

  
  <ul>
    <li>Pool: {{event.options.hasPool}}</li>
    <li>BBQ: {{event.options.hasBBQ}}</li>
    <li>Children: {{event.options.hasChildren}}</li>
    <li>Private: {{event.options.isPrivate}}</li>
    <li>Roof: {{event.options.hasRoof}}</li>
    <li>Parking: {{event.options.hasParking}}</li>
    <li>
      latitude:
      <span id="lat">{{event.location.coordinates.[0]}}</span>
    </li>
    <li>
      longitude:
      <span id="long">{{event.location.coordinates.[1]}}</span>
    </li>

  </ul>

</div>

<div>
  <h1>Lista de invitados</h1>
  <ul>
    {{#each users}}

    <li>{{username}}</li>

    {{/each }}

  </ul>

</div>
<h3><a href="/event/{{event._id}}/edit">Edit event</a></h3>